.micon-usage {
  width: 100%;
  box-sizing: border-box;
  font-size: 11px;
  line-height: normal;
  height: 100px;
}

.micon-icon-list {
  margin: 0;
  padding: 15px 0 0;
  text-align: center;
}

.micon-icon-list > li {
  list-style-type: none;
  display: inline-block;
  width: 200px;
  margin: 2px 0;
  background: #E6E6E6;
  padding: 20px;
}

.micon-icon-list .micon {
  font-size: 30px;
  color: #202021;
}

.micon-icon-list input.form-text {
  display: block;
  text-align: center;
  width: 100%;
  margin: 0 4px;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.micon-icon-list .form-item {
  margin: 0;
}

.micon-icon-list input.info {
  font-size: 9px;
  line-height: 9px;
  margin-top: 1px;
}

.micon-icon-list .svg {
  color: #000;
}
