{#
/**
 * @file micon-package.html.twig
 * Default theme implementation to present Micon package data of type ICON.
 *
 * @see template_preprocess_micon_package_icon()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'micon-package',
    'micon-package-' ~ type,
  ]
%}
{{ attach_library('micon/micon.admin') }}

<div{{ attributes.addClass(classes) }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
