{#
/**
 * @file micon-icon-list.html.twig
 * Default theme implementation to present a list of Micon icons/svgs.
 *
 * @see template_preprocess_micon_icon_list()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'micon-icon-list',
  ]
%}
{% if content %}
  {{- content -}}
{% endif %}
<ul{{ attributes.addClass(classes) }}>
  {% for icon in icons  %}
    <li>{{ icon }}</li>
  {% endfor %}
</ul>
