{#
/**
 * @file micon.html.twig
 * Default theme implementation to present an icon along with its label.
 *
 * @see template_preprocess_micon()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'icon-label',
    icon_only and icon ? 'visually-hidden',
  ]
%}
{% if icon and position=="before" %}
  {{ icon }}
{% endif %}
{% if title %}
  <span {{ attributes.addClass(classes) }}>
    {{ title }}
  </span>
{% endif %}
{% if icon and position=="after" %}
  {{ icon }}
{% endif %}
